@model BeamLab.Koala.Web.Models.Article

@{
    var currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
}

<article class="container">
    <div class="row">
        <section class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h1>@Model.Title</h1>
                        <h3><i>@Model.SubTitle</i></h3>
                    </header>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 text-justify">
                    @Html.Raw(Model.Body)
                </div>

                <div class="col-md-4">
                    <img src="@Model.Image" />

                    <div class="fb-share-button center-block"
                         data-href="@currentUrl"
                         data-layout="button_count">
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("FacebookComments")
    </div>
</div>