@model List<BeamLab.Koala.Web.Models.Article>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-bottom:10px">
    @await Component.InvokeAsync("HomePageCarousel", new { newsCount = 3 })
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="row" style="padding-left:15px;">
                <div class="col-md-6 homegrid">
                    @for (int i = 0; i < Model.Count; i+=2)
                    {
                        <div class="box-item">
                            <div class="box-post">
                                <span class="label label-success">
                                    <a href="#" rel="tag">@Model[i].Category</a>
                                </span>
                                <h3 class="post-title">
                                    <a href="/n/@Model[i].CuratedTitle">
                                        @Model[i].Title
                                    </a>
                                </h3> <span class="meta">
                                    <time><i class="glyphicon glyphicon-time"></i> @Model[i].PublishDate</time>
                                </span>
                            </div> <img src="@Model[i].Image" alt="@Model[i].Title" class="">
                        </div>
                    }
                </div>
                <div class="col-md-6 homegrid">
                    @for (int i = 1; i < Model.Count; i += 2)
                    {
                        <div class="box-item">
                            <div class="box-post">
                                <span class="label label-success">
                                    <a href="#" rel="tag">@Model[i].Category</a>
                                </span>
                                <h3 class="post-title">
                                    <a href="/n/@Model[i].CuratedTitle">
                                        @Model[i].Title
                                    </a>
                                </h3> <span class="meta">
                                    <time><i class="glyphicon glyphicon-time"></i> @Model[i].PublishDate</time>
                                </span>
                            </div> <img src="@Model[i].Image" alt="@Model[i].Title" class="">
                        </div>
                    }
                </div>
            </div>
        </div>
        <aside class="col-sm-4">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#latest" aria-controls="latest" role="tab" data-toggle="tab">Latest</a></li>
                    <li role="presentation"><a href="#top" aria-controls="top" role="tab" data-toggle="tab">Top</a></li>
                    <li role="presentation"><a href="#featured" aria-controls="featured" role="tab" data-toggle="tab">Featured</a></li>
                </ul>
                <div class="tab-content" style="margin-top:10px;">
                    <div role="tabpanel" class="tab-pane active" id="latest">
                        @await Component.InvokeAsync("NewsList", new { newsCount = 10, category = "latest" })      
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top">
                        @await Component.InvokeAsync("NewsList", new { newsCount = 10, category = "top" })
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured">
                        @await Component.InvokeAsync("NewsList", new { newsCount = 10, category = "featured" })
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>